/* Things to apply to the entire body */
body {
    
}

/* Header Box */
#header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Adjust shadow values as needed */
    letter-spacing: 1px; /* Adjust letter spacing as needed */
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, lightblue, blue);

}

/*I want my container and boxes to initially be centered and able to flex*/
#pageContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Our search container is going to be in a column to the left of the other two containers*/
#citySearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
        
    
}
/*We want both our search text input field and our button to take up their own lines. So we set the width to 100% and also add box-sizing so that they are consistent with each other.*/
#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

#searchBtn {
    width: 100%;
    background-color: lightblue;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.4s;
    box-sizing: border-box;
}

#searchBtn:hover {
    background-color: blue;
  }

#searchHistorycontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    
}

#citiesSearched {
    display: flex;
    flex-direction: column;
    align-items: center;
        
}

#citiesSearched button{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
   }

#weatherContainer {
    display: flex;
    flex-direction: column;
}

#currentWeather{
    border: 2px solid #ccc; /* Add borders with a color of your choice */
    padding: 20px; /* Add padding for some spacing inside the box */
    margin: 10px; /* Add margin to separate it from other elements */
    
    background-color: #7CB9E8;
}

#currentWeather p{
    font-weight: bolder;
}

/* I want the name/date to be next to the weather icon we will pull from the API*/
#todayCityname  {
    display:inline-block;
    vertical-align: middle;
}

#weatherIcon {
    display: inline-block;
    vertical-align:middle;
    margin-left: 10px;

}

#fiveDayforecast {
    display: flex;
    flex-direction: row;
      
}

#day1{
    background-color: #002244;
    padding: 5px;
    color: white;
}

#day2{
    background-color: #002244;
    padding: 5px;
    color: white;
}

#day3{
    background-color: #002244;
    padding: 5px;
    color: white;
}
  
#day4{
    background-color: #002244;
    padding: 5px; 
    color: white;
}
  
#day5{
    background-color: #002244;
    padding: 5px;
    color: white;
}
  
  