
/* Wildcard if we want to have certain styles applied to everything.*/
*{

}
/* Things to apply to the entire body */
body{

}
/* Header Box */
.header{
    text-align: center;
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, lightblue, blue);

}